html,
body {
  background-color: #d9d9d9;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.graphic-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

img {
  vertical-align: middle;
}
